/* Navbar clasess */

.bg-light {
  background: white!important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
}
.targemHome-navbarLangIcon
{
  font-size: 30px;
  margin-left: 15px;
  margin-top: 3px;
  color: rgb(59, 59, 59);
}

.targemHome-navbarLangIconToggle
{
  background-color: #ff000000;
  border: none;
}
.targemHome-navbarLangIconToggle:hover
{
  background-color: #ff000000;
  border: none;
}
.targemHome-navbarLangIconToggle::after
{
  color: rgb(59, 59, 59);
}
.navbar .navbar-collapse {
  text-align: center;
}



/* Main section style */
.targemHome-mainSection{
  width: 100%;
  background-image: url(../images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  min-height:600px;
  padding: 30px;
}

.targemHome-mainh4
{
  text-align: left;
  color: white;
  max-width: 417px;
  line-height: 1.5;
  font-size: 2.2em;
  font-family: "century gothic";
  margin-top: 25px;
  font-weight: 800;
}

.targemHome-mainp
{
  text-align: left;
  color: white;
  max-width: 480px;
  line-height: 2;
  font-size: 1.2em;
  margin-top: 15px;
  font-family: "century gothic";
}

.targemHome-Arrow
{
  display: table;
  margin: 75px auto 0px auto;
}

/* know more style */
.targemHome-knowmoreill
{
  width: 350px;
  max-width: 90%;
  margin-top: 40px;
}

.targemHome-knowmoretitle{
  font-size: 52px;
  max-width: 300px;
  background: -webkit-linear-gradient( 120deg, #415d87 0%, #4ec5ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "century gothic";
  
}

/* Underline style if needed
.taremHome-underline
{
  border-bottom: 4px #ea0e4f solid;
}
*/

.targemHome-knowP
{

  color: #5c8ecd;
  line-height: 2;
  max-width: 651px;
  text-align: left;
  font-size: 20px;
  font-family: "century gothic";
  margin-top: 25px;
}

.targemHome-Getstarted
{
  text-decoration: none;
  font-size: 33px;
  font-family: 'century gothic';
  text-align: center;
  font-size: 26px;
  padding: 20px;
  border: 2px  #415d87 solid;
  border-radius: 30px;
  transition: all 0.4s ease;
  display: table;
  margin: 25px auto 0px auto;

 
}

.targemHome-Getstarted:hover
{
  color: white;
  background-color: #649ee0;
  background: -webkit-linear-gradient( 120deg, #415d87 0%, #4ec5ff 100%);
  border:2px #e8e8e8 solid;

}


/* Why us */

.targemHome-fafaIcons
{
  font-size: 75px;
  color: #6c63ff;
}

#whyus .targemHome-Getstarted
{
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;

}

#whyus h5{
  font-weight: bold;
}

#whyus .targemHome-knowmoretitle
{
  max-width: 600px;
  margin-bottom: 55px;
}

/* Claim and get started */

#claimandgetstarted .targemHome-knowmoretitle
{
  max-width: 90%;
  margin-bottom: 45px;
}

.targemHome-claimImg
{
  max-width: 95%;
  margin-top: 25px;
}
.targemHome-ClaimHeads
{
  font-weight: bold;
  margin-bottom: 10px;
}

#claimandgetstarted .targemHome-knowP
{
  margin-top: 0px;
  margin-bottom: 30px;
  color: #7f7f7f;
}

.imgsiteslike
{
  width: 200px;
  margin: auto;
  display: table;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}

.imgsiteslike1
{
  width: 200px;
  margin: auto;
  display: table;
  filter: grayscale(100%);
  padding-top: 65px;
  transition-duration: 0.5s;
}

.imgsiteslike:hover , .imgsiteslike1:hover
{
  filter: grayscale(0%);
  
}