#knowmore
{
  min-height: 400px;
  background-color: #e8e8e8;
  padding-top: 70px;
  padding-bottom: 50px;
}

#whyus
{
  padding-top: 50px;
  padding-bottom: 50px;

}

p, h1, h2, h3, h4, h5, h6, span{
  font-family: 'century gothic';
}
#claimandgetstarted
{
  min-height: 400px;
  background-color: #e8e8e8;
  padding-top: 70px;
  padding-bottom: 50px;
}

#partners .targemHome-knowmoretitle
{
  max-width: 400px;
  margin-top: 80px;
  margin-bottom: 40px;
}

#whyus .card {
  
  margin-bottom: 30px;
}

.footer
{
  min-height: 40px;
  background-color: #4c94c4ed;
  background-color: #4473a0;
  margin-top: 35px;
  height: 80px;
}

.whiteColor
{
  color: white;
}

#transSer
{
  margin-bottom: 50px;
  
}

.lineborder
{
  border-bottom: 1px solid #eaedef;
  max-width: 80%;
  margin: 50px auto;
}

.kindoftrans .card-body
{
  position: relative;
  bottom: 50px;
}

.kindoftrans .card
{
  height: 330px;
  margin-top: 60px;
}