#knowmore
{
  min-height: 400px;
  background-color: #e8e8e8;
  padding-top: 70px;
  padding-bottom: 50px;
}

#whyus
{
  padding-top: 50px;
  padding-bottom: 50px;

}

p, h1, h2, h3, h4, h5, h6, span{
  font-family: 'century gothic';
}
#claimandgetstarted
{
  min-height: 400px;
  background-color: #e8e8e8;
  padding-top: 70px;
  padding-bottom: 50px;
}

#partners .targemHome-knowmoretitle
{
  max-width: 400px;
  margin-top: 80px;
  margin-bottom: 40px;
}

#whyus .card {
  
  margin-bottom: 30px;
}

.footer
{
  min-height: 40px;
  background-color: #4c94c4ed;
  background-color: #4473a0;
  margin-top: 35px;
  height: 80px;
  padding: 0px 25px;
}

.whiteColor
{
  color: white;
}

#transSer
{
  margin-bottom: 50px;
  
}

.lineborder
{
  border-bottom: 1px solid #eaedef;
  max-width: 80%;
  margin: 50px auto;
}

.kindoftrans .card-body
{
  position: relative;
  bottom: 50px;
}

.kindoftrans .card
{
  height: 330px;
  margin-top: 60px;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
  bottom: 30px;
  left: 35px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:40px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
  transition: all 0.2s ease;
}
.float:hover
{
  color: white;
  width: 62px;
  height: 62px;
}
.my-float{
	margin-top:10px;
}

.carousel-item{
  max-height: 500px;
  min-width: auto;
}

.carousel-caption
{
  bottom: 12.25rem;
}

